body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.canvas-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.canvas-container_left{
    width: 500px;
    height: 500px;
}

.canvas-container_center{
    border: 5px solid #007bff;
    border-style: dotted;
    margin-top: 10px;
}

.canvas-container_left_change{
    display:column;
    justify-self:center;
    align-items:center;
    margin:100px;
}

.canvas-container_stroke{


    margin-bottom: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding: 30px;
}
.canvas-container_left_color{

    font-size: 25px;
    text-align: center;
    border:2px solid black;
} 

.canvas-container_left_stroke_clear{

    margin-top: 5px;
}

.canvas-container_right{

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    margin: 10px;

}

#change-size-a{

    margin-bottom: 10px;
    box-shadow: 10px 5px 5px red;
}

#change-size-b{

    margin-bottom: 10px;
    box-shadow: 10px 5px 5px red;
}


#change-size-c{

    margin-bottom: 10px;
    box-shadow: 10px 5px 5px red;
}

#size{
margin-top:10px;

}

#canvaSizeA{

    margin-bottom: 10px;
    box-shadow: 10px 5px 5px;
}

#canvaSizeB{

    margin-bottom: 10px;
    box-shadow: 10px 5px 5px;
}

#canvaSizeC{

    margin-bottom: 10px;
    box-shadow: 10px 5px 5px;
}

h1{

    font-size:25px;
    display: flex;
    justify-content: center;
    text-align: center;
}
h2{

    margin:0;
    margin-top:20px;
    font-size:25px;
    display: flex;
    justify-content: center;
    text-align: center;
}


#red{

    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid red;
}

#green{

    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    border: 2px solid green;

}

#blue{

    color: #232323;
    background: transparent;
    border: 1px solid #232323;
    position: relative;
    font-size: 14px;
    letter-spacing: .3em;
    font-family: 'Montserrat', sans-serif;
    padding: 17px 34px 17px 39px;
    transition: .2s ease-in-out;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border: 2px solid blue;
}
    
.canvas-container_left_change {
    text-align: center;
    margin: 50px;
}

button{

    display: inline-flex;
    align-items: center;
    font-size: 12px;
    letter-spacing: .05em;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 20px;
    font-family: 'Montserrat', sans-serif;
    color: red;
    background: white;
    border: 1px solid;
    cursor: pointer;
    transition: .3s linear;
    border-color: chartreuse;
    margin-top:20px;
}

h2{
    margin-top: 70px;
}

#input{

    margin-bottom: 10px;

}

@media screen and (max-width: 1080px){
  
    body{
        width: 95%;
    }
    .canvas-container_right{
        width: 80%;
    }
}

@media screen and (max-width: 1055px){

    .canvas-container_center{
        width: 50%;
    }
}

@media screen and (max-width: 782px){

    .canvas-container_right{
        width: 70%;
    }
}

@media screen and (max-width: 782px){
   
    .canvas-container_right{
        width: 60%;
    }
}

@media screen and (max-width: 662px){
   
    .canvas-container_left{
        width:60%;
        height:80%;
    }
}

@media screen and (max-width: 374px){

    .h1, h1{
      font-size: 1.5rem;
    }

    .h2, h2{

        font-size: 1rem;
    }
   
    .btn{

        font-size: 0.5rem;
    }

    button{

        font-size: 5px;
    }
}

@media screen and (max-width: 701px){
    
    #palitra {

        font-size: 1rem;
    }

    #change-size-a {

        font-size: 10px;
    }

    #change-size-b {

        font-size: 10px;
    }

    #change-size-c {

        font-size: 10px;
    }
    #size {

         font-size: 10px; 
    }

    #widthP{

        font-size: 10px;
    }

    #clear-canvas{

    font-size: 7px; 

    }
    #canvaSizeA {
        
        font-size: 10px;

    }

    #canvaSizeB {
        
        font-size: 10px;

    }

    #canvaSizeC {
        
        font-size: 10px;

    }

}




/* :hover :active ... ; position: absolute, static, fixed ... ; vh vw ; */